package ${packageName}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.common.core.domain.Result;
import ${packageName}.${moduleName}.domain.entity.${ClassName}Entity;
import ${packageName}.${moduleName}.domain.form.${ClassName}Form;
import ${packageName}.${moduleName}.domain.query.${ClassName}Query;
import java.util.List;

/**
 * ${functionName}服务类
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service  extends  IService<${ClassName}Entity> {

    /**
    * 添加
    * @param form
    * @return
    */
    Result add(${ClassName}Form form);

    /**
     * 修改
     * @param form
     * @return
     */
    Result update(${ClassName}Form form);

    /**
     * 删除
     * @param ids
     * @return
     */
    Result remove(List<String> ids);

    /**
     * 分页查询
     * @param query
     * @return
     */
    Result page(${ClassName}Query query);

    /**
     * 根据id查找
     * @param id
     * @return
     */
    Result detail(String id);

    /**
     * 列表
     * @return
     */
    Result list(${ClassName}Query query);

}
